{% extends 'base.html.twig' %}

{% block title %}Nouvel Album
{% endblock %}

{% block body %}
	<h1>Nouvel Album</h1>

	{{ include('album/_form.html.twig', {'button_label': 'create'}) }}

	<a href="{{ path('app_album') }}" class="btn btn-dark" style="margin-top:10px">Retour</a>
{% endblock %}